@use "../../../styles.scss" as *;

.contact-section{
    padding:5% 10%;
    height: 60vh;
    background-color: black;
    display: flex;
    align-items: center;
    @include responsive($device-medium){
        align-items: start;
        padding:5%;
        height: 30vh;
    }
    .section-vector{
        width:70%;
        @include responsive($device-small){
            display:  none;
        }
    }
    .title {
        font-size: 5vh;
        margin-bottom: 10vh;
        color:white;
        .highlighted-text{
            color: $primary-color;
        }
        @include responsive($device-medium) {
            font-size: 4vh;
            margin-bottom: 5vh;
        }

        @include responsive($device-small) {
            font-size: 3.5vh;
        }
    }
    .links-section{
        margin:5vh;
        @include responsive($device-medium){
            margin: 2vh;
        }
        .link-card{
            align-items: center;
            display: flex;
            margin:5vh;
            @include responsive($device-medium){
                margin:2vh;
            }
            .logo{
                width:4vh;
                @include responsive($device-medium){
                    width: 3vh;
                }
            }
            .link{
                text-decoration: none;
                margin-left: 5vh;
                font-weight: 200;
                color:white;
                transition:  color 0.3s ease-in-out;
                

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}