<div class="contact-section" id="contact-section">
    <div class="left-section">
        <img class="section-vector" src="assets/vectors/ContactSectionVector.svg" alt="">
    </div>
    <div class="right-section">
        <div class="title">
            Ways to <span class="highlighted-text">contact me</span>
        </div>
        <div class="links-section">
            <div class="link-card">
                <img class="logo" src="/assets/contact_vectors/Mail.svg" alt="">
                <a class="link" href="mailto:anish98821@hotmail.com">anish98821&#64;hotmail.com</a>
            </div>
            <div class="link-card">
                <img class="logo" src="assets/contact_vectors/Phone.svg" alt="">
                <a class="link" href="tel:+91 8951223209">+91 8951223209</a>
            </div>
            <div class="link-card">
                <img class="logo" src="assets/contact_vectors/Linkedin.svg" alt="">
                <a class="link" href="https://www.linkedin.com/in/anish98821" target="_blank">www.linkedin.com/in/anish98821</a>
            </div>
            <div class="link-card">
                <img class="logo"  src="assets/contact_vectors/Github.svg"  alt="">
                <a class="link" href = "https://www.github.com/anish98821" target="_blank">www.github.com/anish98821</a>
            </div>
        </div>
    </div>
</div>