@use "../../../styles.scss" as *;

.navbar{
    box-sizing: border-box;
    position: fixed;
    display:flex;
    height:80px;
    width:100%;
    background-color: $secondary-color-light;
    justify-items: center;
    align-items: center;
    padding:0 2em; 
    z-index: 100;

    .title-text{
        color:white;
        font-family: "Silkscreen";
        font-size: 20px;
    }

    .regular-navbar-link-group{
        display: flex;
        margin-left: auto;
        .navbar-link {
                text-decoration: none;
                color: $primary-color;
                margin-left: 70px;
                transition: color 0.2s ease-in-out;
        
                &:hover {
                    color: white;
                }
        }

        @media (max-width:$device-large){
            display: none;
        }
    }

    .mobile-hamburger{
        margin-left: auto;
        @media (min-width:$device-large) {
            display: none;
        }

        img{
        width: 2em;
        }
    }
    

}