<div class="navbar" id="navbar">
    <span class="title-text">Anish U</span>
    <div class="regular-navbar-link-group">
        <a  class="navbar-link" href="#project-section">Projects</a>
        <a  class="navbar-link" href="#experience-section">Experience</a>
        <a  class="navbar-link" href="#certificate-section">Certificates</a>
        <a  class="navbar-link" href="#contact-section">Contact Me</a>
    </div>
    <div  class="mobile-hamburger">
        <img src="assets\ui\MobileHamburger.svg" >
    </div>
</div>