<svg class="section-vector" #animatedSvg width="926" height="100%" viewBox="0 0 926 793" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
        d="M6.49773 446.782L919.686 349.348C922.41 349.057 923.351 345.566 921.142 343.946L457.138 3.62098C455.47 2.39733 453.093 3.19 452.493 5.17006L215.46 787.386C214.709 789.865 211.38 790.29 210.029 788.08L4.25608 451.33C3.10786 449.451 4.30802 447.016 6.49773 446.782Z"
        stroke="#8F55EF" stroke-opacity="0.17" stroke-width="6" class="svg-elem-1" />
</svg>


<div class="hero-section" id="hero-section"  #heroContent>
    <section class="intro-section">
        <span class="hi-text">Hi,</span>
        <br>
        <span class="introduction-text">I am 
            <span class="name-text">Anish U</span>
        </span>
        <br>
        <span class="designation-text">A Full-Stack Developer</span>
    </section>

    
    <section class="tech-stack-section">
        <div class="tech-logo-grid-container">
            <img src="./assets/tech_logos/Javascript.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/CSharp.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Python.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/DotNET.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/React.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Cloudflare.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/GoogleCloud.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Firebase.svg" alt="Logo" class="tech-logo-grid-item">
        </div>

    </section>
</div>



