@use "../../../styles.scss" as *;

.section-vector {
    margin-top: 5vh;
    width: 80vw;
    max-width: 600px;
    height: auto;
    z-index: -5;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .svg-elem-1 {
        stroke-dashoffset: 2733.686px;
        stroke-dasharray: 2733.686px;
        transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    }

    &.active {
        .svg-elem-1 {
            stroke-dashoffset: 0;
        }
    }
}

.hero-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease 0.2s, transform 1s ease 0.2s;
    padding-top: 10dvh;
    height: 90dvh;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    color: white;
    scroll-margin-top: 80px;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    @media (max-width: $device-medium) {
        flex-direction: column;
        height: 100dvh;
        padding-top: 5dvh;
        gap: 7vh;
    }

    .intro-section {
        .hi-text {
            font-size: clamp(32px, 12vw, 64px);
        }

        .introduction-text {
            font-size: clamp(24px, 10vw, 40px);

            .name-text {
                color: $primary-color;
            }
        }

        .designation-text {
            color: #989898;
            font-size: clamp(16px, 3vw, 24px);
        }

        @include responsive($device-medium) {
            margin-top: 0;
            height: auto;
        }
    }

    .tech-stack-section {
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive($device-medium) {
            padding: 0 5vw;
        }

        .tech-logo-grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            row-gap: 1.5rem;
            column-gap: 1.5rem;
            align-content: center;
            justify-content: center;

            .tech-logo-grid-item {
                width: 100%;
                max-width: clamp(30px, 10vw, 60px);
                min-width: 30px;
                align-self: center;
                justify-self: center;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}