<div class="hero-section" id="hero-section">
    <div class="left-side">
        <span class="hi-text">Hi,</span>
        <br>
        <span class="introduction-text">I am 
            <span class="name-text">Anish U</span>
        </span>
        <br>
        <span class="designation-text">A Full-Stack Developer</span>
    </div>
    <img class="section-vector" src="assets/vectors/Hero Section Vector.svg"/>
    <div class="right-side">
        <div class="tech-logo-grid-container">
            <img src="./assets/tech_logos/Javascript.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/CSharp.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Python.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/DotNET.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/React.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Cloudflare.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/GoogleCloud.svg" alt="Logo" class="tech-logo-grid-item">
            <img src="./assets/tech_logos/Firebase.svg" alt="Logo" class="tech-logo-grid-item">
        </div>

    </div>
</div>