$primary-color:#8F55EF;
$secondary-color:#151515;
$secondary-color-light:#1b1b1b;

$device-small: 576px;
$device-medium: 768px;
$device-large: 992px;
$device-xlarge: 1200px;
$device-xxlarge: 1400px;

@mixin responsive($breakpoint, $direction: max) {
    @if $direction ==max {
        @media (max-width: $breakpoint) {
            @content;
        }
    }

    @else if $direction ==min {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

html {
    scroll-behavior: smooth;

    body{
        font-family: 'Poppins';
        margin: 0px;
        background-color: $secondary-color;
    }
}












