$primary-color:#8F55EF;
$secondary-color:#151515;
$secondary-color-light:#1b1b1b;


html {
    scroll-behavior: smooth;

    body{
        font-family: 'Poppins';
        margin: 0px;
        background-color: $secondary-color;
    }
}












